<mat-toolbar>Consultas</mat-toolbar>
<router-outlet></router-outlet>
<div class="example-container mat-elevation-28" *ngIf="route.children.length===0">
    
  <div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar Medicos">
    </mat-form-field>
  </div>
  <mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.id}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="especialista">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Especialista</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.medico.nombres}} {{row.medico.apellidos}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="paciente">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Paciente</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.paciente.nombres}} {{row.paciente.apellidos}}</mat-cell>
      </ng-container>      
      
    <ng-container matColumnDef="acciones">
      <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-button color="primary" [routerLink]="['edicion',row.id]">Actualizar</button>
        <button mat-button color="accent" (click)="eliminar(row.id)">Eliminar</button>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns:displayedColumns;">      
    </mat-row>    
  </mat-table>
  <mat-paginator [pageSize]="5" [pageSizeOptions]="[5,10,25,50,100]" [length]="cantidad" ></mat-paginator>
  <!--(page)="mostarMas($event)"-->
</div>  
<br>
<button mat-fab color="accent" style="float: right"routerLink='/consulta/nuevo'>
  <mat-icon>create</mat-icon>  
</button>

