<mat-card>Ingrese los datos del Especialista</mat-card>
<br>
<form class="example-container" [formGroup]="form" (ngSubmit)="operar()" #frmEspecialista="ngForm">
  <div [hidden]="true">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="ID" required formControlName="id">
    </mat-form-field>
  </div>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="ingrese el run" required formControlName="run">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="ingrese los nombres" required formControlName="nombres">
  </mat-form-field>
  
  <mat-form-field class="example-full-width">
    <input matInput placeholder="ingrese los apellidos" required formControlName="apellidos">
  </mat-form-field>
  
  <mat-form-field class="example-full-width">
    <input matInput placeholder="ingrese la direccion" required formControlName="direccion">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="ingrese el telefono" required formControlName="telefono">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="ingrese el email" required formControlName="email">
  </mat-form-field>


    <button mat-raised-button color="primary" type="submit" [disabled]="frmEspecialista.invalid">
      <mat-icon>done</mat-icon>
      <span>Aceptar</span>
    </button>
    <button mat-raised-button color="accent" routerLink='/especialista' type="button">
      <mat-icon>close</mat-icon>
      <span>Cancelar</span>
    </button>
</form>